{% extends 'base.html.twig' %}
{% block title %}{{ brand }} - Forgot Password{% endblock %}
{% block body %}
	{{form_start(form)}}
		{{form_widget(form)}}
		<button>Submit</button>
	{{form_end(form)}}
{% endblock %}