{% extends 'base.html.twig' %}
{% block title %}Reset Password{% endblock %}
{% block body %}
	{{ form_start(form) }}
		{{ form_widget(form) }}
		<button>Submit</button>
	{{ form_end(form) }}
{% endblock %}