<form action="{{ path('unfollow', {'id': data.id}) }}" method="post">
	<input type="hidden" name="_token" value="{{ csrf_token('unfollow' ~ data.id) }}">
	<button class="col btn btn-sm btn-danger font-weight-bold">Unfollow</button>
</form>