{% extends 'base.html.twig' %}

{% block title %}
	Edit Post
{% endblock %}

{% block body %}
	<div class="bg-light p-2">
		{{ form_start(form) }}
	        <label>
	        	<img src="{{ asset('icons/feather/edit.svg') }}"> Edit Post
	        </label>    

			{{ form_widget(form) }}
			
			<button type="submit" class="btn btn-primary">Simpan</button>
		{{ form_end(form) }}
	</div>
{% endblock %}