{% extends 'base.html.twig' %}

{% block title %}
    Search Result
{% endblock %}

{% block body %}
	{% for result in results %}
		<a href="{{ path('profile', {'username': result.username}) }}">
			<div class="row m-2 border-bottom">
				<div class="col-0">
					{% if result.image %}
						<img class="border" src="{{ asset('photo/avatar/') ~  result.image }}" style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%">
					{% else %}
						<img src="{{ asset('photo/templates/avatar.png') }}" style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%">
					{% endif %}
				</div>

				<div class="col">
					<h6 class="">{{ result.fullname }}</h6>
				</div>
			</div>
		</a>
	{% endfor %}
{% endblock %}