{% extends 'base.html.twig' %}

{% block title %}
	Search people
{% endblock %}

{% block body %}
	<div class="bg-light p-2">
		{{ form_start(form) }}
		    {{ form_widget(form) }}
		    <button class="btn btn-primary" type="submit">Search</button>
		{{ form_end(form) }}
	</div>
{% endblock %}